// colours
$background: #7f1734;
$foreground: #fff;
$alternate: #ccc;

$small: 1.3rem;
$normal: 2rem;
$large: 4rem;
$huge: 6rem;


// General stying

html {
  font-size: 62.5%;
}

* {
  font-weight: 100;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $background;
  color: $foreground;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

a {
  color: $foreground;

  &:hover {
    color: $alternate;
  }
}

code {
  font-family: Monaco, 'Courier New', monospace;
}

ul {
  padding-left: 0;
}

.fullpage {
  height: 90vh;
  padding-top: 10vh;
  position: relative;
}

// on mobile, the header is too high, and the arrow wouldn't fit
@media screen and (max-height: 600px) , (max-width: 470px) {
  .fullpage {
    height: 100%;
    padding-bottom: 6vh;
    padding-top: 0;
  }
}

.long-arrow-down::before { content: '\f175'; }

.arrow {
  bottom: 2vh;
  font-size: 2em;
  position: absolute;
}

@media screen and (min-height: 600px) {
  .arrow {
    bottom: 4vh;
  }
}

@media screen and (max-height: 540px) {
  .arrow {
    display: none;
  }
}

h1, h2.main {
  font-size: $large;
}

// Button

.button {
  background: $foreground;
  border-radius: 5px;
  color: $background;
  font-size: $normal;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 300ms cubic-bezier(1, .010, 0, 1.005);
  background-clip: border;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &:hover {
    background: none;
    box-shadow: inset 0 0 0 1px $foreground;
    color: $foreground;
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0 0 0 2px $foreground;
  }
}

p#generated {
  font-size: $huge;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Social icons

.social ul {
  padding: 3rem;
  padding-top: 1rem;

  li {
    display: inline-block;
    font-size: $small;
    text-transform: uppercase;

    a {
      text-decoration: none;
      margin: 1rem;
      padding: .5rem;
    }
  }
}

.icons::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  padding-right: 0.3rem;
  vertical-align: top;
}

.github::before        { content: "\f09b"; }
.codepen::before       { content: "\f1cb"; }
.twitter::before       { content: "\f099"; }
.instagram::before     { content: "\f16d"; }
.envelope::before      { content: "\f0e0"; }
.space-shuttle::before { content: "\f197"; }
.file::before          { content: "\f15b"; }

// competencies

li.marks {
  display: inline-block;
  margin: 1rem;
  vertical-align: text-top;
}

@media screen and (max-width: 470px) {
  li.marks {
    display: inline;
  }
  #competencies .arrow,
  #education .arrow {
    display: none;
    visibility: hidden;
  }
}

.competencies li {
  list-style-type: none;
}

.marks ul {
  padding-left: 0;
}

.items p {
  font-size: $small;
  margin: .5rem;
  text-transform: uppercase;
}

h3.competencies {
  font-size: $normal;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

// value bars
$height: 1rem;
$width: 10rem;
$padding: 1px;
$radius: 0.3*$height;

// the background part
.level {
  margin: 0 auto;
  z-index: 0;
  width: $width;
  height: $height;
  background: $foreground;
  border-radius: $radius;
  padding: $padding;
  position: relative;

  // foreground part
  &::after {
    z-index: 1;
    content: "";
    height: $height;
    background: $background;
    border-radius: $radius;
    position: absolute;
    left: $padding;
    top: $padding;
  }
}

// the length of the foreground
.level-1::after  { width: $width*1/10;  }
.level-2::after  { width: $width*2/10;  }
.level-3::after  { width: $width*3/10;  }
.level-4::after  { width: $width*4/10;  }
.level-5::after  { width: $width*5/10;  }
.level-B2::after,
.level-6::after  { width: $width*6/10;  }
.level-7::after  { width: $width*7/10;  }
.level-C1::after,
.level-8::after  { width: $width*8/10;  }
.level-9::after  { width: $width*9/10;  }
.level-C2::after,
.level-10::after { width: $width*10/10; }

.list li {
  list-style-type: none;
  margin-top: 1rem;
}

// 404 things

.search {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  transition: all 300ms cubic-bezier(1, .010, 0, 1.005);

  path {
    fill: $foreground;
  }

  .mark {
    fill: $foreground;
  }

  .mark:hover {
    fill: $alternate;
  }

  &:hover {
    -webkit-transform: scale(.9) rotate(3deg);
    transform: scale(.9) rotate(3deg);
  }
}
