/* General stying */

html {
	font-size: 62.5%;
	/*margin-top: auto;
	margin-bottom: auto;*/
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	background-color: #009688;
}

a {
	color: #fff;
}

a:hover {
	color: #ccc;
}

ul {
	padding-left: 0;
}

.fullpage {
	height: 90vh;
	padding-top: 10vh;
	/*border: 1px dotted #000;*/
	position: relative;
}

/* on mobile, the header is too high, and the arrow wouldn't fit */
@media all and (max-height: 600px) {
	.fullpage {
		height: 100%;
		padding-top: 0;
		padding-bottom: 6vh;
	}
}

.arrow {
	position: absolute;
	bottom: 2vh;
}

@media all and (min-height: 600px) {
	.arrow {
		bottom: 4vh;
	}
}

h1, h2.main {
	font-size: 4rem;
}

/* Button */

.button {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #009688;
	font-size: 20px;
	background: #fff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: solid #009688 1px;
}

.button:hover {
	color: #fff;
	background: #009688;
	border: solid #fff 1px;
}

p#generated {
	font-size: 6rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* Social icons */

.social ul {
	padding: 3rem;
	padding-top: 1rem;
}

.social ul li {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.social ul li a {
	text-decoration: none;
	margin: 1rem;
	padding: 0.5rem;
}

/* competencies */

li.marks {
	display: inline-block;
	margin: 1rem;
	vertical-align: text-top;
}

ul.competencies li {
	list-style-type: none;
}

li.marks ul {
	padding-left: 0;
}

ul.items p {
	font-size: 1.3rem;
	text-transform: uppercase;
	margin: 0.5rem;
}

h3.competencies {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 1.5rem 0;
}

@media all and (max-width: 350px) {
	#competencies .arrow,
	#education .arrow {
		display: none;
		visibility: hidden;
	}
}

/* bars */

.level {
	z-index: 0;
	width: 10rem;
	height: 1.2rem;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	border-color: #009688;
	position: relative;
}

.level-5::after {
	content: "";
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	z-index: 1;
	width: 5rem;
	height: 1rem;
	background: #009688;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	border-color: #fff;
}

.level-6::after,
.level-B2::after {
	content: "";
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	z-index: 1;
	width: 6rem;
	height: 1rem;
	background: #009688;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	border-color: #fff;
}

.level-7::after {
	content: "";
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	z-index: 1;
	width: 7rem;
	height: 1rem;
	background: #009688;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	border-color: #fff;
}

.level-8::after,
.level-C1::after {
	content: "";
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	z-index: 1;
	width: 8rem;
	height: 1rem;
	background: #009688;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	border-color: #fff;
}

.level-10::after,
.level-C2::after {
	content: "";
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	z-index: 1;
	width: 9.8rem;
	height: 1rem;
	background: #009688;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3rem;
	border-color: #fff;
}


.list li {
	list-style-type: none;
	margin-top: 1rem;
}