/* General stying */

html {
	font-size: 62.5%;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: sans-serif;
	font-weight: bolder;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	background-color: #009688;
}

a {
	color: #fff;
}

a:hover {
	color: #ccc;
}

ul {
	padding-left: 0;
}

.fullpage {
	height: 90vh;
	padding-top: 10vh;
	/*border: 1px dotted #000;*/
	position: relative;
}

/* on mobile, the header is too high, and the arrow wouldn't fit */

@media screen and (max-height: 600px) , (max-width: 470px) {
	.fullpage {
		height: 100%;
		padding-top: 0;
		padding-bottom: 6vh;
	}
}

.arrow {
	font-size: 2em;
	position: absolute;
	bottom: 2vh;
}

.long-arrow-down::before { content: "\f175"; }

@media screen and (min-height: 600px) {
	.arrow {
		bottom: 4vh;
	}
}

@media screen and (max-height: 540px) {
	.arrow {
		display: none;
	}
}

h1, h2.main {
	font-size: 4rem;
}

/* Button */

.button {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #009688;
	font-size: 20px;
	background: #fff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: solid #009688 1px;
	transition: background-color .2s, color .2s, border-color .2s;
}

.button:hover {
	color: #fff;
	background: #009688;
	border: solid #fff 1px;
	cursor: pointer;
}

p#generated {
	font-size: 6rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* Social icons */

.social ul {
	padding: 3rem;
	padding-top: 1rem;
}

.social ul li {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.social ul li a {
	text-decoration: none;
	margin: 1rem;
	padding: 0.5rem;
}

.icons::before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	padding-right: 0.3rem;
	vertical-align: top;
}
.github::before        { content: "\f09b"; }
.codepen::before       { content: "\f1cb"; }
.twitter::before       { content: "\f099"; }
.instagram::before     { content: "\f16d"; }
.envelope::before      { content: "\f0e0"; }
.space-shuttle::before { content: "\f197"; }
.file::before          { content: "\f15b"; }

/* competencies */

li.marks {
	display: inline-block;
	margin: 1rem;
	vertical-align: text-top;
}

@media screen and (max-width: 470px) {
	li.marks {
		display: inline;
	}
	#competencies .arrow,
	#education .arrow {
		display: none;
		visibility: hidden;
	}
}

ul.competencies li {
	list-style-type: none;
}

li.marks ul {
	padding-left: 0;
}

ul.items p {
	font-size: 1.3rem;
	text-transform: uppercase;
	margin: 0.5rem;
}

h3.competencies {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 1.5rem 0;
}

/* bars */

.level {
	z-index: 0;
	width: 10rem;
	height: 1rem;
	background: #fff;
	border-radius: 0.3rem;
	position: relative;
	padding: 1px;
	margin: 0 auto;
}

.level::after {
	z-index: 1;
	content: "";
	height: 1rem;
	background: #009688;
	border-radius: 0.3rem;
	position: absolute;
	left: 1px;
	top: 1px;
	margin: 0 auto;
}

.level-5::after  { width: 5rem; }
.level-B2::after,
.level-6::after  { width: 6rem; }
.level-7::after  { width: 7rem; }
.level-C1::after,
.level-8::after  { width: 8rem; }
.level-C2::after,
.level-10::after { width: 10rem; }


.list li {
	list-style-type: none;
	margin-top: 1rem;
}