
<h2 class="main">Competencies</h2>
<ul class="competencies crossed">
  <li class="marks">
    <h3 class="competencies">Languages</h3>
    <ul class="items">
      <li>
        <p>Dutch: C2</p>
        <meter value="1" title="CEFR C2">
          <div class="level level-10" title="CEFR C2"></div>
        </meter>
      </li>
      <li>
        <p>English: C1</p>
        <meter value="0.8" title="CEFR C1">
          <div class="level level-8" title="CEFR C1"></div>
        </meter>
      </li>
      <li>
        <p>French: B2</p>
        <meter value="0.6" title="CEFR B2">
          <div class="level level-6" title="CEFR B2"></div>
        </meter>
      </li>
      <li>
        <p>German: A2</p>
        <meter value="0.4" title="CEFR A2">
          <div class="level level-4" title="CEFR A2"></div>
        </meter>
      </li>
    </ul>
  </li>
  <li class="marks">
    <h3 class="competencies">Programming</h3>
    <ul class="items">
      <li>
        <p>JavaScript</p>
        <meter value="0.8" title="8/10">
          <div class="level level-8" title="8/10"></div>
        </meter>
      </li>
      <li>
        <p>HTML/(S)CSS</p>
        <meter value="0.8" title="8/10">
          <div class="level level-8" title="8/10"></div>
        </meter>
      </li>
      <li>
        <p>C#/Java</p>
        <meter value="0.6" title="6/10">
          <div class="level level-6" title="6/10"></div>
        </meter>
      </li>
      <li>
        <p>Bash</p>
        <meter value="0.6" title="6/10">
          <div class="level level-6" title="6/10"></div>
        </meter>
      </li>
      <li>
        <p>LaTeX</p>
        <meter value="0.6" title="6/10">
          <div class="level level-6" title="6/10"></div>
        </meter>
      </li>
    </ul>
  </li>
  <li class="marks">
    <h3 class="competencies">Skills</h3>
    <ul class="items">
      <li>
        <p>Photoshop</p>
        <meter value="0.6" title="6/10">
          <div class="level level-6" title="6/10"></div>
        </meter>
      </li>
      <li>
        <p>OS X</p>
        <meter value="0.8" title="8/10">
          <div class="level level-8" title="8/10"></div>
        </meter>
      </li>
      <li>
        <p>Linux</p>
        <meter value="0.7" title="7/10">
          <div class="level level-7" title="7/10"></div>
        </meter>
      </li>
    </ul>
  </li>
</ul>
<p>But rating yourself isn't really that useful or right. Below are some examples of live things I did.</p>
