<h2 class="main">Education</h2>
<ul class="list">
  <li>professional bachelor <a href="https://www.odisee.be/nl/elektronica-ict" title="Odisee curriculum">electronics-information technology</a> (in progress)</li>
  <li>animator for a <a href="http://www.vlaanderen.be/nl/cultuur-sport-en-vrije-tijd/jeugd/attesten-voor-jeugdwerkers" title="certification of the Flemish Government 🇧🇪🇳🇱">youth club</a></li>
  <li>extracurricular secondary education animated films at <a href="http://academiebruggedko.be/middelbare-graad/animatiefilm/">Stedelijke Academie Brugge</a></li>
  <li>secondary education sciences-maths at <a href="http://humaniora.sask.be">SASK</a></li>
</ul>
