<h1>Haroen Viaene</h1>
<button class="button" id="generator">is</button>
<p id="generated">a programmer</p>
<div class="social" id="social">
  <h2>Contact me:</h2>
  <ul>
    <li>
      <a class="icons github" href="https://github.com/haroenv" title="github.com/haroenv">GitHub</a>
    </li>
    <li>
      <a class="icons twitter" href="https://twitter.com/haroenv" title="twitter.com/haroenv">Twitter</a>
    </li>
    <li>
      <a class="icons mastodon" rel="me" href="https://mas.to/@haroenv" title="twitter.com/haroenv">Mastodon</a>
    </li>
    <li>
      <a class="icons instagram" href="https://www.instagram.com/haroenv/" title="instagram.com/haroenv">Instagram</a>
    </li>
    <li>
      <a class="icons envelope" href="mailto:%22Haroen%20Viaene%22%20%3chello@haroen.me%3e" title="hello@haroen.me">email</a>
    </li>
    <li>
      <a class="icons file" href="cv" title="curriculum vitae">cv</a>
    </li>
    <li>
      <a class="icons rss" href="https://blog.haroen.me/" title="my blog">blog</a>
    </li>
    <!-- <li>
      <a class="icons bicycle" href="trip" title="2015 bike trip through belgium 🇬🇧🇺🇸">bike trip</a>
    </li> -->
  </ul>
</div>
