<h2 class="main">Jobs</h2>
<ul class="list">
  <li><a href="https://algolia.com">Algolia</a> &mdash; JavaScript Open Source libraries developer &mdash; May 2017&ndash; …</li>
  <li><a href="https://algolia.com">Algolia</a> &mdash; Open Source intern &mdash; February &ndash; May 2017</li>
  <li><a href="http://2016.summerofcode.be">open Summer of code</a> &mdash; front- and backend developer (linked data) &mdash; summer 2016</li>
  <li><a href="http://www.eurospacecenter.be" title="Euro Space Center">Euro Space Center</a> &mdash; animator, tours &mdash; summers 2013 &ndash; 2015</li>
  <li><a href="http://www.jwronline.be" title="Jeugdwerkgroep Ruimtevaart v.z.w.">JWR</a> &mdash; animator, administration, tutor &mdash; 2007 &ndash; 2016</li>
  <!--<li><a href="mailto:%22Haroen%20Viaene%22%20%3chello@haroen.me%3e?subject=Job%20offering" title="send a mail to hello@haroen.me">Your job here?</a></li>-->
</ul>
