<h2 class="main">Jobs</h2>
<ul class="list">
  <li>
    <div><a href="https://algolia.com">Algolia</a></div>
    <div>JavaScript Open Source libraries developer</div>
    <div>May 2017 &ndash; …</div>
  </li>
  <li>
    <div><a href="https://algolia.com">Algolia</a></div>
    <div>Open Source intern</div>
    <div>February &ndash; May 2017</div>
  </li>
  <li>
    <div><a href="http://2016.summerofcode.be">open Summer of code</a></div>
    <div>front- and backend developer (linked data)</div>
    <div>summer 2016</div>
  </li>
  <li>
    <div>
      <a href="http://www.eurospacecenter.be" title="Euro Space Center"
        >Euro Space Center</a
      >
    </div>
    <div>animator, tours</div>
    <div>summers 2013 &ndash; 2015</div>
  </li>
  <li>
    <div>
      <a
        href="http://www.jwronline.be"
        title="Jeugdwerkgroep Ruimtevaart v.z.w."
        >JWR</a
      >
    </div>
    <div>animator, administration, tutor</div>
    <div>2007 &ndash; 2016</div>
  </li>
  <!--<li><a href="mailto:%22Haroen%20Viaene%22%20%3chello@haroen.me%3e?subject=Job%20offering" title="send a mail to hello@haroen.me">Your job here?</a></li>-->
</ul>

